.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin-right: 30px;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.red {
  background: red
}

.blue {
  background: blue
}

.green {
  background: green
}